.bar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: #e2e0de;
    font-family: sans-serif;
    color: #1e2f05;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
}

.pad_rigth {
    padding-right: 30px;
}